.navbar{
	background-color: #030064;
}
body{
	font-family: 'Libre Franklin', sans-serif;

}
html{
	scroll-behavior: smooth;
}
.caption-masterhead{
	padding-top: 30%;
}
.carousel-caption {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.aboutus{
	border-radius: 40px;
	margin-top: 5em;
	background-color: #010068;
	color: white;
}
.text-aboutus{
	font-size: 24px;
}
.course{
	background-color: #00006a;
}
.card{
	border-radius: 40px;
}
.title-course{
  font-size: 24px;
  font-weight: bold;
  color: #00006c;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-course{
	background-color: #c42677;
	color: white;
	font-size: 18px;
	border: none;
}
.btn-course:hover{
	background-color:#010068 ;
}
.title-signin{
	color: #00006c;
	font-size: 24px;
  font-weight: bold;
  padding-bottom: 1em;
}
.login-label{
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 1em;
}
.input-login{
	height: 40px;
}
.forgot-password{
	object-fit: contain;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.18px;
	color: #c62077;
}
.login-button{
	object-fit: contain;
	border-radius: 17.5px;
	background-color: #c42677;
	font-size: 18px;
	font-weight: 600;
	color: white;
}
.login-facebook{
	font-size: 18px;
	font-weight: 600;
	border-radius: 17.5px;
	color: white;
	background-color: #020066;
}
.create-course{
	background-color: #00006a;
	border-radius: 37px;
	
}
.create-course-label{
	color: white;
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal; 
}
.title-card-course{
	font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  color: #c62077;
}
.text-card-course{
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.18px;
	color: #ffffff;
}
.card-course{
	max-width: 40rem;
	object-fit: contain;
	border-radius: 37px;
	background-color: #00006a;
}
.title-video{
	font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  color: #020066;
}
.desc-video{
	font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #000000;
}
.title-comment{
	font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  color: #c62077;
  margin-top: 20px;
}
.comment{
	border-radius: 20px;
	background-color: #ecedef;
}
.author-comment{
	font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #c81877;
	padding-top: 20px;
	padding-left:20px;
}
.body-comment{
	font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #000000;
	padding:20px;
}