:root{
	--main-bg-color:#464159;
	--main-text-color: #c7f0db;
	--main-title-color: #8bbabb;
	--main-button-color: #6c7b95;
}

.navbar{
	background-color: var(--main-bg-color);
}
.md-avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
}
body{
	font-family: 'Libre Franklin', sans-serif;

}
html{
	scroll-behavior: smooth;
}
.caption-masterhead{
	padding-top: 30%;
}
.carousel-caption {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.aboutus{
	border-radius: 40px;
	margin-top: 5em;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}
.text-aboutus{
	font-size: 24px;
}
.course{
	background-color: var(--main-bg-color);
}
.card{
	border-radius: 40px;
}
.title-course{
  font-size: 24px;
  font-weight: bold;
  color: var(--main-title-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn-course{
	background-color: var(--main-button-color);
	color: white;
	font-size: 18px;
	border: none;
}
.btn-course:hover{
	background-color:var(--main-title-color);
}
.title-signin{
	color: var(--main-title-color);
	font-size: 24px;
  font-weight: bold;
  padding-bottom: 1em;
}
.login-label{
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 1em;
}
.input-login{
	height: 40px;
}
.forgot-password{
	object-fit: contain;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.18px;
	color: var(--main-button-color);
}
.login-button{
	object-fit: contain;
	border-radius: 17.5px;
	background-color: var(--main-button-color);
	font-size: 18px;
	font-weight: 600;
	color: var(--main-text-color);
}
.login-facebook{
	font-size: 18px;
	font-weight: 600;
	border-radius: 17.5px;
	color: var(--main-text-color);
	background-color: var(--main-button-color);
}
.create-course{
	background-color: var(--main-button-color);
	border-radius: 37px;
	
}
.create-course-label{
	color: var(--main-text-color);
	font-size: 18px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal; 
}
.title-card-course{
	font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  color: var(--main-title-color);
}
.text-card-course{
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.18px;
	color: var(--main-text-color);
}
.card-course{
	max-width: 40rem;
	object-fit: contain;
	border-radius: 37px;
	background-color: var(--main-button-color);
}
.title-video{
	font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  color: var(--main-title-color);
}
.desc-video{
	font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #000000;
}
.title-comment{
	font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  color: var(--main-title-color);
  margin-top: 20px;
}
.comment{
	border-radius: 20px;
}
.author-comment{
	font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: var(--main-text-color);
	padding-top: 20px;
	padding-left:20px;
}
.body-comment{
	font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #000000;
	padding:20px;
}
.form-forgot{
	height: 40vh;
	margin-top: 30vh;
	width: 50vw;
}
.recourse-header{
	color: var(--main-text-color);
	background-color: var(--main-bg-color);
}