.navbar{
	background-color: #030064;
}
body{
	font-family: 'Coustard', serif;
}
.caption-masterhead{
	padding-top: 30%;
}
.carousel-caption {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.aboutus{
	border-radius: 40px;
	margin-top: 5em;
	background-color: #010068;
	color: white;
}
.text-aboutus{
	font-size: 24px;
}
.course{
	background-color: #00006a;
}
.card{
	border-radius: 40px;
}
.title-course{
  font-size: 24px;
  font-weight: bold;
  color: #00006c;
}